.margin-bottom-small { margin-bottom: 2rem; }
.margin-bottom-medium { margin-bottom: 4rem; }
.margin-bottom-big { margin-bottom: 6rem; }
.margin-bottom-huge { margin-bottom: 8rem; }

.margin-top-small { margin-top: 2rem; }
.margin-top-medium { margin-top: 4rem; }
.margin-top-big { margin-top: 6rem; }
.margin-top-huge { margin-top: 8rem; }

.margin-around { margin: 2rem; }

.text-center { text-align: center; }